@import './reset.scss';
@import './variable.scss';
@import './mixin.scss';
// @import '//at.alicdn.com/t/font_1858104_yu6k1046cgd.css';
// @import 'https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap';
// @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import '//at.alicdn.com/t/font_2029535_q82qbcs4ld9.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&family=Delius+Unicase:wght@700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  // background-color: #fff;
  // touch-action: none;
}
body {
  @include font_size($m);
  font-family: 'Nunito', sans-serif, Helvetica, sans-serif, STHeiTi;
  color: #333;
  // background: url('~assets/images/1.jpg') center center no-repeat fixed;
  background-attachment: fixed;
}
img {
  vertical-align: bottom;
}
a {
  color: #fff;
}

h1 {
  @include font_size($l);
  font-weight: 800;
  text-align: center;
  margin-top: 100px;
  position: relative;
  z-index: 1;
}
input {
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
}
