@import './reset.scss';
@import './variable.scss';
@import './mixin.scss';
// @import '//at.alicdn.com/t/font_1858104_yu6k1046cgd.css';
// @import 'https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap';
// @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import '//at.alicdn.com/t/font_2029535_k4fimh88uk.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&family=Delius+Unicase:wght@700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  // background-color: #fff;
  // touch-action: none;
}
body {
  @include font_size($m);
  font-family: 'Nunito', sans-serif, Helvetica, sans-serif, STHeiTi;
  color: #333;
  // background: url('~assets/images/1.jpg') center center no-repeat fixed;
  background-attachment: fixed;
}
img {
  vertical-align: bottom;
}
a {
  color: #fff;
}

h1 {
  @include font_size($l);
  font-weight: 800;
  text-align: center;
  margin-top: 100px;
  position: relative;
  z-index: 1;
}
input {
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
}

.el-loading-spinner {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  background-image: url('~assets/images/hey_bear.gif'); // 这个是自己想设置的 gif 加载动图
  background-repeat: no-repeat; //设置背景 图 不重复
  // height: 100%;
  position: relative;
  background-position: center; //设置背景 定位  为居中
  left: 50%;
  transform: translate(-50%, -50%);
  // top: 0; //覆盖 element-ui  默认的 50%    因为此处设置了height:100%,所以不设置的话，会只显示一半，因为被top顶下去了
}
.el-loading-spinner .el-icon-loading {
  display: none; //隐藏 之前  element-ui  默认的 loading 动画
}
.el-loading-spinner p {
  text-transform: uppercase;
  color: $background-color !important;
  font-weight: 800;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 150%);
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: $background-color !important;
}
