@import './variable.scss';

@mixin font_dpr($font-size) {
  font-size: $font-size * 1px;
  [data-dpr='2'] & {
    font-size: $font-size * 2px;
  }
  [data-dpr='3'] & {
    font-size: $font-size * 2px;
  }
  [data-dpr='1'][is-ios='true'] & {
    /* prettier-ignore */
    font-size: $font-size * 1PX;
  }
  [data-dpr='2'][is-ios='true'] & {
    /* prettier-ignore */
    font-size: $font-size * 2PX;
  }
  [data-dpr='3'][is-ios='true'] & {
    /* prettier-ignore */
    font-size: $font-size * 3PX;
  }
}

@mixin font_size($size) {
  @include font_dpr($size);
}

@mixin clamp($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
}

@mixin bg_color() {
  background: $background-color;
  [data-theme='theme1'] & {
    background: $background-color1;
  }
  [data-theme='theme2'] & {
    background: $background-color2;
  }
}
@mixin bg_alpha_color($alpha) {
  background: rgba($color: $background-color, $alpha: $alpha);
  [data-theme='theme1'] & {
    background: rgba($color: $background-color1, $alpha: $alpha);
  }
  [data-theme='theme2'] & {
    background: rgba($color: $background-color2, $alpha: $alpha);
  }
}

@mixin bg_alpha_color2($alpha) {
  background: rgba($color: $gallery-background-color, $alpha: $alpha);
  [data-theme='theme1'] & {
    background: rgba($color: $gallery-background-color1, $alpha: $alpha);
  }
  [data-theme='theme2'] & {
    background: rgba($color: $gallery-background-color2, $alpha: $alpha);
  }
}
@mixin bg_color_sub() {
  background: $sub-background-color;
  [data-theme='theme1'] & {
    background: $sub-background-color1;
  }
  [data-theme='theme2'] & {
    background: $sub-background-color2;
  }
}

@mixin bg_color_sub_before() {
  background: $sub-before-background-color;
  [data-theme='theme1'] & {
    background: $sub-before-background-color1;
  }
  [data-theme='theme2'] & {
    background: $sub-before-background-color2;
  }
}

@mixin bg_color_sub_after() {
  background: $sub-after-background-color;
  [data-theme='theme1'] & {
    background: $sub-after-background-color1;
  }
  [data-theme='theme2'] & {
    background: $sub-after-background-color2;
  }
}

@mixin font_color() {
  color: $background-color;
  [data-theme='theme1'] & {
    color: $background-color1;
  }
  [data-theme='theme2'] & {
    color: $background-color2;
  }
}

@mixin border_color() {
  border-color: $background-color;
  [data-theme='theme1'] & {
    border-color: $background-color1;
  }
  [data-theme='theme2'] & {
    border-color: $background-color2;
  }
}
