// font size
$s: 12;
$ms: 14;
$m: 18;
$ml: 24;
$l: 30;

$background-color: #00c3a4;
$background-color1: #1f4172;
$background-color2: #0096d1;

$gallery-background-color: #b8e994;
$gallery-background-color1: #fac4b8;
$gallery-background-color2: #3ebdc6;

$sub-background-color: #f0fff5;
$sub-background-color1: #fdf0f0;
$sub-background-color2: #a8ead570;

$sub-before-background-color: #78e08f30;
$sub-before-background-color1: #febbbb30;
$sub-before-background-color2: #3ebdc630;

$sub-after-background-color: #38ada940;
$sub-after-background-color1: #febbbb40;
$sub-after-background-color2: #3ebdc640;

$sub-color: #f3cf00;
$sub-color2: #ff8a1b;
$btn-color: #1b9cfc;
// font color
$font-color: #fff;
$--color-primary: #00c3a4;
