// font size
$s: 12;
$ms: 14;
$m: 18;
$ml: 24;
$l: 30;

// background color
// $background-color: rgba(37, 53, 38, 0.85);
$background-color: #00c3a4;
$sub-color: #f3cf00;
$sub-color2: #ff5900;

// font color
$font-color: #fff;
